<div class="contacts-list">
    {{# if contacts.length}} {{# each contacts}}
    <form method="post" action="/contact/edit">
        <div>
            <a href="/contact/edit/{{this._id}}">Edit</a>
            <input type="hidden" name="contactId" value="{{ this._id }}" />
            <input type="submit" name="editDetails" value="Edit" />
        </div>
        <div class="my-contact">
            <div class="contact-name">{{this.name}}</div>
            <div class="contact-company">{{this.company}}</div>
            {{# each this.phone}}
            <div class="contact-number">{{this.type}}</div>
            <div class="contact-number">{{this.value}}</div>
            {{/each}} {{# each this.email}}
            <div class="contact-email">{{this.type}}</div>
            <div class="contact-email">{{this.value}}</div>
            {{/each}}
            <div class="contact-group">{{this.group}}</div>
            {{# each this.url}}
            <div class="contact-url">{{this.type}}</div>
            <div class="contact-url">{{this.value}}</div>
            {{/each}}
        </div>
    </form>
    {{/each}} {{ else }}
    <div>
        <p>Contact List is empty.</p>
    </div>
    {{/if}}
</div>